@use "sass:map";
@import "../../../style/pages/theme.scss";

.product {
    margin-top: 60px !important;
    padding: 32px 16px !important;
    background-color: pink;
   

    .product__detail {
        .img{

        }

        .detail {

        }

        .buy {

        }

        .box__service {

            .item {

            }
        }

        .about {
            
        }
    }
}