@use "sass:map" ; 
@import "../../../../style/pages/theme.scss";


.footer__bot {
    background-color: map.get($theme-color, "background");
    padding: 64px 32px !important;
    
    .row {
        // justify-content: center;
        // align-items: center;
    }

    .footer__left {

        .logo {
            // font-size: 64px;
            // font-family: "BeaufortHeavyItalic";
            // color: map.get($theme-color, "color");
            margin-bottom: 10px;

            svg {
                width: 128px;
                height: auto;
            }
            
        }

        .social {
            margin-top: 10px;
            margin-bottom: 10px;

            ul {
                list-style-type: none;
                
                li {

                    text-align: center;

                    a{
                        font-size: 22px;
                        color: map-get($theme-color, "sub-color" );
                        text-decoration: none;
                    }  
                } 
            }
        }

        p {
            color: map-get($theme-color, "sub-color" );
            font-size: 16px;
            margin-top: 10px;
            margin-bottom: 10px;
            display: block;
        }
    }

    



    .footer__right {
        align-items: unset;
        margin-top: 20px;
        .col {

            
            span {
                color: map-get($theme-color, "color" );
                margin-bottom: 15px;
                display: block;
                font-size: 16px;
            }

            ul{
                list-style-type: none;

                a{
                    text-decoration: none;
                    color: map.get($theme-color, "sub-color");
                    margin: 8px 0;
                    cursor: pointer;
                    display: flex;
                    align-items: center;

                    svg{
                        margin-right: 5px;
                    }
                }
            }
        }
            
    }


    .footer__bot__about {
        &::before {
                content: "";
                display: block;
                border-top: 1px solid #fff;
                margin-bottom: 10px;
            }
        
        padding: 5px 12px;

        p {
            color: map.get($theme-color, "sub-color");
            font-size: 14px;
            margin: 3px;
        }
    }
}

