@use "sass:map";
@import "../../../style/pages/theme.scss";


@keyframes slider {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}


.homepage {
    // height: 1200px;
    margin-top: 60px !important;
    .slider {
        height: 700px;
        background-color: #ECE7E1;
        position: relative;
        overflow: hidden;

        .slider__track {
            display: flex;
            height: 700px;
            width: max-content;
            animation: slider 60s linear infinite !important;
            overflow: hidden;
            
            .card {
                filter: grayscale(0.4);
            }
        }
        



        .slider__text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -100%);
            p{
                &:first-child {
                    font-size: 96px;
                    text-transform: uppercase;
                    font-family: "BeaufortHeavyItalic";
                    background: linear-gradient(to top, #C28F2D, #cfbd9c);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    text-shadow: unset;
                }

                text-align: center;
                font-size: 24px;
                // text-shadow: 2px 2px 2px #505050;
                color: map.get($theme-color, "color");
                font-family: "BeaufortBoldItalic";
            }
        }
    }
    
    .content {
        
        .block {
            height: 640px;
            padding: 64px 96px;

            .row{
                height: 100%;;
                align-items: center;

                .text {
                    
                    p{
                        &:first-child {
                            font-size: 64px;
                            text-transform: uppercase;
                            font-family: "BeaufortHeavy";
                            margin-bottom: 10px;
                        }
                        color: #fff;
                        font-size: 24px;
                        margin: 5px 0;
                    }

                    button{
                        margin-top: 10px;
                        font-size: 22px;
                        color: map.get($theme-color, "dcolor");
                        background-color: #ff4655;
                        font-weight: 500;
                    }
                }

                .picture {


                    img {
                        width: 600px;
                        height: auto;
                    }
                }
            }
        }

        .block1 {
            // background-color: #1A0F22;
             background: url("../../../components/pictures/background\ 1.jpg") center / cover no-repeat;
            
            .row {
                .text{
                    p{
                        color: map.get($theme-color, "ncolor");
                    }
                }
            }
        }
        .block2 {
            // background-color: #ECE7E1;
             background: url("../../../components/pictures/background\ 3.jpg") center / cover no-repeat;


            .row {
                .text{
                    p{
                        color: map.get($theme-color, "dcolor");
                    }
                }
            }
            
            .picture {
                
                img {
                    width: 500px;
                    height: auto;
                    position: relative;
                    right: 250px;
                }
            }
        }
        .block3 {
            // background-color: #1A0F22; 
             background: url("../../../components/pictures/background\ 2.jpg") center / cover no-repeat;


            .row {
                .text{
                    p{
                        color: map.get($theme-color, "ncolor");
                    }
                }
            }
        }

    }
}