@use "sass:map";
@import "../../../../style/pages/theme.scss";


.header__top {
    height: 60px;
    background: map.get($theme-color, "background");
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}



.header__top_right{
    ul {
        
        li {
            text-align: center;
            cursor: pointer;
            a {
                text-decoration: none;
                text-transform: uppercase;
                font-family: "BeaufortBold";
                color: map.get($theme-color, "color");
                font-size: 16px;
                line-height: 60px;
            }
        }
    }
}

.header__top_left{

    ul {
        
        li {
            text-align: center;
            cursor: pointer;
            a {
                text-decoration: none;
                text-transform: uppercase;
                font-family: "BeaufortBold";
                color: map.get($theme-color, "color");
                font-size: 16px;
                line-height: 60px;
            }
        }
    }
}