@use "sass:map";
@import "../../../../style/pages/theme.scss";


.header__top {
    height: 60px;
    background: map.get($theme-color, "background");
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header__logo {
    a {
        line-height: 60px;
        color: map.get($theme-color, "color");
        text-decoration: none;
        text-transform: uppercase;
        font-family: "BeaufortBold";
        display: block;
        text-align: center;
        cursor: pointer;
    }
}


.header__menu {
    ul {

        li{
            a {
               line-height: 60px;
               color: map.get($theme-color, "color");
               text-decoration: none; 
               text-transform: uppercase;
               font-family: "BeaufortBold";
               text-align: center;
               display: block;
               cursor: pointer;
            }
        }
    }
}


.header__authentication {
    ul {

        li{
            a {
               line-height: 60px;
               color: map.get($theme-color, "color");
               text-decoration: none; 
               text-transform: uppercase;
               font-family: "BeaufortBold";
               text-align: center;
               display: block;
               cursor: pointer;
            }
        }
    }
}