@font-face {
  font-family: "BeaufortLightItalic";
  src: url("../../components/font/beaufort lol/BeaufortforLOL-LightItalic.ttf") format("truetype");
}



@font-face {
  font-family: "BeaufortHeavyItalic";
  src: url("../../components/font/beaufort lol/BeaufortforLOL-HeavyItalic.ttf") format("truetype");
}

@font-face {
  font-family: "BeaufortMedium";
  src: url("../../components/font/beaufort lol/BeaufortforLOL-Medium.ttf") format("truetype");
}

$theme-color: (
    "main": #008874
)


