@font-face {
  font-family: "BeaufortLightItalic";
  src: url("../../components/font/beaufort lol/BeaufortforLOL-LightItalic.ttf") format("truetype");
}



@font-face {
  font-family: "BeaufortHeavyItalic";
  src: url("../../components/font/beaufort lol/BeaufortforLOL-HeavyItalic.ttf") format("truetype");
}

@font-face {
  font-family: "BeaufortMedium";
  src: url("../../components/font/beaufort lol/BeaufortforLOL-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "BeaufortBold";
  src: url("../../components/font/beaufort lol/BeaufortforLOL-Bold.ttf") format("truetype");
}

$theme-color: (
    "background": #141212,
    "color": #f9f9f9
)


