@use "sass:map";
@import "style/pages/theme.scss";

.order__list {
    margin-top: 50px;
    .order__card-item {
        display: flex;
        margin: 15px 0px;
        font-size: 16px;
        gap: 20px;
        &-img {
            width: 200px;
            height: 130px;
            object-fit: cover;
            cursor: pointer;
        }
            .overlay__card {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.04);
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 999;
            }

            .overlay__card-img {
                max-width: auto;
                max-height: 70%;
                height: auto;
            }

        &--g {
            flex-shrink: 0;
        }

        &-id {
            width: 70px;
        }

        &-price {
            color: map.get($theme-color, "price-color");
            width: 100px;
        }

        &-user {
            color: #d29213;
            width: 140px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:nth-of-type(5) { width: 110px; } // phone
            &:nth-of-type(6) { width: 180px; } // email
        }

        &-type {
            color: #1316d2;
            width: 70px;
        }

        &-time {
            color: #a41fa4;
            width: 155px;
        }

        &-status {
            width: 120px;

            &.status--pending { color: #f39c12; }
            &.status--done    { color: #13d22c; }
            &.status--cancel  { color: #e74c3c; }
        }

    }


    .pagination {
                padding: 10px 0px 80px 0px !important;
                display: flex;
                justify-content: flex-start;
                
                button{
                    font-size: 18px;
                    font-weight: 300;
                    width: 32px;  
                    height: 32px;
                    border: 0.5px solid #fc5f6c;
                    color: map.get($theme-color, "ncolor");
                    margin: 0 12px;
                    cursor: pointer;
                    background-color: transparent;

                    &.active{
                        background-color: #fc5f6c;
                        color: map.get($theme-color, "dcolor");
                    }

                    &:disabled {
                        opacity: 0.8;
                        cursor: not-allowed;
                    }

                    &:first-child,
                    &:last-child {
                        background-color: #fc5f6c;
                        color: map.get($theme-color, "dcolor");
                    }
                }

            }
}