@use "sass:map";
@import "../../../style/pages/theme.scss";

.products {
    margin-top: 60px !important;
    padding: 64px 16px !important;
    .row {
        .product__left {

        }

        .product__right{
            .items {
                .item {
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 200px;
                    }

                    .item__about {

                    }

                    .description {

                    }
                }
            }

            .pagination {

            }
        }
    }
}